.shipping-details-container {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0px 4px 17px 1px #3c3c3c;
  .form-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.6rem;
    label {
      font-weight: 600;
    }
  }
  input,
  select,
  textarea {
    padding: 0.6rem;
    font-family: inherit;
  }
  textarea {
    min-height: 10vh;
  }
  span {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }
  input[type="checkbox"] {
    height: 1.2rem;
    width: 1.2rem;
    justify-content: center;
    margin-right: 0.2rem;
  }
  .payment-button-div {
    text-align: center;
  }
  .payment-button {
    align-self: center;
    background-color: black;
    color: white;
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .payment-button:hover {
    background-color: black;
  }
}
.red {
  color: red;
}
.w-49 {
  width: 49%;
}
.ml-2 {
  margin-left: 2%;
}
.radio-check {
  height: 1.3rem;
  width: 1.3rem;
}

@media screen and (max-width: 600px) {
  .shipping-details-container {
    width: 96%;
  }
}
