.main-content {
  padding: 0 0 2rem;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
}
.product-category-home {
  h2 {
    text-align: center;
    margin: 2rem 0 0;
    font-size: 2rem;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }
}
.product-category-card {
  background-color: whitesmoke;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  width: 23%;
  height: 425px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: black;
  }
  h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
  }
  img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .product-category-home {
    .grid-container {
      flex-direction: column;
    }
  }
  .product-category-card {
    width: 90%;
  }
}
