.main-content {
  padding: 0 0 2rem;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
}
.product-category-home {
  h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 50px;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }
}

.w-45 {
  width: 45%;
}
.w-55 {
  width: 55%;
}
.product-category {
  a {
    text-decoration: none;
    color: white;
  }
  .text-block {
    position: relative;
    bottom: 80px;
    left: 20px;
    width: 156px;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: -60.6px;
    text-transform: uppercase;
    text-align: center;
  }
  .category-img {
    height: 50vh;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .product-category-home {
    .grid-container {
      flex-direction: column;
    }
  }
}
