.header {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 14vh;
  width: 100%;
}
.profile-icon {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0.51rem;
  }
  .caret {
    font-size: 1.6rem;
    padding-left: 0.2rem;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 0.8rem 0;
  background-color: inherit;
  font-family: inherit;
  justify-content: center;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 17px 1px #3c3c3c;
  min-width: 162px;
  top: 11vh;
  z-index: 1;
  a {
    color: rgb(32, 30, 30);
    padding: 0.7rem 1rem;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
  }
  .sign-out {
    margin: 0.3rem;
    border-radius: 5px;
    background-color: black;
    a {
      color: white;
    }
    a:hover {
      color: tomato;
    }
  }
  .links a:hover {
    background-color: #ddd;
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  margin: 0 1.5rem 0 0;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
  }
  img {
    max-width: 180px;
  }
}
.cart-icon {
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  svg {
    height: 2.5em;
    width: 2.5em;
    color: white;
  }
  .badge {
    position: relative;
    left: -14px;
    background-color: #6394f8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 5px 7px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
  }
}
.menu-icon {
  margin: 1.5rem;
  cursor: pointer;
  svg {
    height: 2.5em;
    width: 2.5em;
  }
}
.search-filter {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  border-radius: 5pc;
  padding-left: 1rem;
  input {
    min-width: 30vw;
    width: 45vw;
    height: 8vh;
    border: none;
    background: transparent;
    padding: 1rem 0 1rem 0.5rem;
    font-size: 1.5rem;
  }
  svg {
    height: 1.2em;
    width: 1.2em;
    margin: 1rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1200px) {
  .search-filter input {
    width: 40vw;
  }
}
@media only screen and (max-width: 1100px) {
  .search-filter input {
    width: 35vw;
  }
}
@media only screen and (max-width: 1000px) {
  .search-filter input {
    width: 30vw;
  }
}
@media only screen and (max-width: 900px) {
  .logo {
    margin: 0 0.2rem 0 0;
  }
}

@media only screen and (max-width: 800px) {
  .search-filter {
    justify-content: center;
    order: 1;
    flex: 1 0;
    margin: 1rem;
    input {
      width: 85%;
    }
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5rem 0 0;
  }
}
@media only screen and (max-width: 560px) {
  .wish-icon {
    display: none;
  }
}
@media only screen and (max-width: 530px) {
  .cart-icon-container {
    order: 5;
  }
}
@media only screen and (max-width: 500px) {
  .logo {
    margin: 0;
  }
  .cart-icon {
    margin: 0;
  }
  .menu-toggle {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 430px) {
  .logo {
    width: 35%;
    img {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 400px) {
  .menu-toggle {
    margin: 0 1rem;
  }
  .search-filter {
    order: 4;
  }
  .profile-icon {
    order: 3;
  }
  .cart-icon-container {
    order: 5;
  }
  .dropdown .dropbtn {
    font-size: 0.9rem;
  }
}

