.header {
  display: flex;
  align-items: center;
  background-color: skyblue;
}
.profile-icon {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}
.logo {
  margin: 0 1.5rem;
}
.cart-icon {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  svg {
    height: 2.5em;
    width: 2.5em;
  }
}
.menu-icon {
  margin: 1.5rem;
  cursor: pointer;
  svg {
    height: 2.5em;
    width: 2.5em;
  }
}
.search-filter {
  display: flex;
  align-items: center;
  input {
    width: 50vw;
    height: 8vh;
    border-radius: 5px;
    border-color: lightgray;
    padding: 1rem;
    font-size: 1.5rem;
  }
  svg {
    height: 2em;
    width: 2em;
    margin: 1rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
  .search-filter {
    justify-content: center;
    input {
      width: 85%;
    }
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .search-filter {
    order: 1;
    flex: 1 0 100%;
  }
}
 