.cart-div-container {
  display: flex;
}
.shopping-cart {
  min-height: 100%;
  margin: 2rem;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 0.6;
  background: whitesmoke;
}
.title {
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  justify-content: space-around;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
  cursor: pointer;
}
.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
}

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}
.cart-product-image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 270px;
  span {
    display: block;
    font-size: 1.1rem;
    color: #43484d;
    font-weight: 400;
  }
  span:first-child {
    margin-bottom: 5px;
  }
  span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939e;
  }
}
.total-price {
  min-width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
.col-6 {
  width: 50%;
}
.summary {
  padding-left: 0.6rem;
  margin: 2rem 2rem 0 0;
  border-radius: 10px;
  border-radius: 10px;
  padding: 0.4rem;
  background: whitesmoke;
  flex-grow: 0.4;
  .summary-heading {
    padding: 0.6rem;
  }
  .summary-details {
    background: black;
    color: white;
    padding: 1rem;
  }
}
.mb-10 {
  margin-bottom: 0.6rem;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.checkout {
  border: none;
  cursor: pointer;
  outline: none;
  background: white;
  color: black;
  width: 100%;
  padding: 12px 5px;
  font-size: 1rem;
  border-radius: 10px;
}
.empty-cart-message {
  font-size: 1.2rem;
  margin: 2rem;
}

@media screen and (max-width: 600px) {
  .cart-div-container {
    flex-direction: column;
  }
  .shopping-cart {
    width: 95%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
  }
  .item {
    height: auto;
    justify-content: center;
    padding: 0;
  }
  .cart-product-image img {
    width: 50%;
  }
  .cart-product-image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
    align-self: center;
    padding: 0;
  }
  .buttons {
    margin-left: 10px;
    margin-right: 0;
  }
  .buttons,
  .total-price {
    align-self: center;
    padding: 0;
  }
  .summary {
    width: 98%;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .shopping-cart{
    .quantity {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

