* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.z-1 {
  z-index: 1;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex-grow: 1;
}
.font-normal {
  font-weight: 500;
}
.font-bold {
  font-weight: 600;
}
.disabled {
  opacity: 0.25;
  pointer-events: none;
}

@media all and (max-width: 600px) {
  .main {
    flex: 3 0px;
    order: 2;
  }
  .footer {
    order: 2;
  }
}

body {
  padding: 0.2em;
}
