* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
  flex: 1;
  flex-direction: "row";
  align-items: "center";
  justify-content: "center";
}



@media all and (min-width: 600px) {
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
    order: 2;
  }
  .footer {
    order: 2;
  }
}

body {
  padding: 0.2em;
}
