.footer {
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
}
.footer-main {
  display: flex;
  flex-direction: row;
}
.subscribe {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  input,
  button {
    padding: 0.6rem;
    margin: 0.1rem;
    border-color: lightgray;
  }
  button {
    background-color: black;
    color: white;
    text-transform: uppercase;
  }
}
.subscribe-container,
.contact-info,
.footer-category {
  display: flex;
  flex-direction: column;
}
.subscribe-container {
  width: 20vw;
  text-align: left;
  margin: 1rem;
  h2 {
    margin: 1rem 0;
  }
}
.contact-info {
  width: 25vw;
  text-align: left;
  margin: 1rem;
  h2 {
    margin: 1rem 0;
  }
}
.footer-category {
  flex-grow: 1;
  text-align: left;
  margin: 1rem;
  h2 {
    margin: 1rem 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: tomato;
  }
  .footer-category-links nav {
    display: flex;
    flex-direction: column;
  }
}
.copyright {
  display: flex;
  background: black;
  color: white;
  padding: 1rem;
  margin: 0;
  align-items: center;
  h4 {
    flex-grow: 1;
  }
}
.red {
  color: red;
}
.footer-payment-div {
  font-size: 2rem;
  svg {
    margin: 0 0.2rem;
  }
}

@media only screen and (max-width: 750px) {
  .footer-category,
  .payment {
    display: none;
  }
  .social {
    flex-grow: 2;
  }
  .contact-info {
    width: 50%;
  }
  .subscribe-container {
    width: 50%;
  }
  .footer-payment-div {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .subscribe input {
    padding: 0.5rem 0 0.5rem 0.2rem;
  }
}
