.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  align-items: center;
  width: 50%;
  .close-div {
    top: 1rem;
    position: absolute;
    font-size: 1.5rem;
    right: 1rem;
    cursor: pointer;
  }
}
.auth {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  svg {
    height: 2em;
    width: 2em;
  }
  .signin-text {
    margin-left: 1.5rem;
    font-size: 1.2rem;
    align-self: center;
    text-transform: uppercase;
  }
  &:hover {
    transition: 0.3s;
    background-color: lightgray;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-width: 305px;  
  box-shadow: 0px 4px 17px 1px #3c3c3c;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 0 15px 82px 5px rgba(5, 19, 65, 0.25);
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.modal-header {
  padding: 0 0 0.5rem 0.5rem;
  margin-bottom: 2rem;
  h2 {
    font-size: 1.6rem;
  }
  svg {
    width: 1.4rem;
    height: 1.4rem;
    align-self: center;
    cursor: pointer;
  }
}
.info-div {
  background-color: black;
  height: 70vh;
  color: white;
  justify-content: center;
  text-align: center;
  width: 50%;
  h2 {
    font-size: 50px;
  }
  img {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 600px) {
  .center {
    width: 65%;
  }
}
@media screen and (max-width: 500px) {
  .center {
    width: 75%;
  }
}
@media screen and (max-width: 400px) {
  .center {
    width: 85%;
  }
}
