.product-container {
  display: flex;
  margin: 2rem 5rem;
  background: whitesmoke;
  padding: 2rem;
  border-radius: 10px;
}
.product-carousel-container {
  width: 50%;
  padding: 1rem;
}
.product-info-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  padding: 1rem;
  h2,
  h3,
  p {
    margin: 0.6rem 0;
  }
  h4 {
    margin: 0.4rem 0;
  }
}
.size-container {
  display: flex;
  div {
    padding: 0.5rem;
    border: 1px solid black;
  }
}
.quantity-container {
  display: flex;
  width: 20%;
  border-radius: 5px;
  div {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .value {
    flex-grow: 2;
    text-align: center;
  }
  input {
    text-align: center;
    margin: 0 0.5rem;
    border-radius: 5px;
  }
}
.cart-container {
  display: flex;
  background-color: #080808;
  color: white;
  border-radius: 5px;
  width: 30%;
  padding: 0.6rem;
  align-items: center;
  margin: 0.6rem 0;
  cursor: pointer;
  svg {
    margin: 0 0.5rem;
  }
  &:hover {
    background-color: black;
  }
}
.align-left {
  text-align: left;
}
.size {
  div {
    display: inline-block;
  }
  span {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }

  input[type="radio"] + label span {
    border: 2px solid #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  }

  input[type="radio"]:checked + label span {
    background-repeat: no-repeat;
    background-position: center;
    background: green;
  }
}

.product-list {
  text-align: center;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
  .quantity-number {
    margin: 0 1rem;
  }
  .product-quantity {
    margin: 5px 1rem;
  }
  input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
  }
}
button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
button:focus,
input:focus {
  outline: 0;
}
.pt-0 {
  padding-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  .product-container {
    flex-direction: column;
  }
}
