.product-card-container {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  background-color: whitesmoke;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  width: 22%;
  height: 410px;
  img {
    width: 100%;
  }
  img:hover {
    transform: scale(1.02);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  h3 {
    margin: 0.2rem 0;
  }
  .overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .font-normal {
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.wishitem{
  display: flex;
  align-items: center;
  h3{
    flex-grow: 1;
  }
}

@media screen and (max-width: 1070px) {
  .product-card-container {
    width: 30%;
  }
}
@media screen and (max-width: 900px) {
  .product-card-container {
    width: 28%;
  }
}
@media screen and (max-width: 1070px) {
  .product-card-container {
    width: 26%;
  }
}
@media screen and (max-width: 600px) {
  .product-card-container {
    width: 42%;
  }
}
@media screen and (max-width: 400px) {
  .product-card-container {
    width: 40%;
    height: 240px;
    img {
      height: 160px;
    }
  }
}
