.wishlist-button-container {
  display: flex;
  background-color: #dd1212;
  color: white;
  border: 2px solid #dd1212;
  padding: 0.6rem 1.5rem;
  align-items: center;
  margin: 0.6rem 0;
  cursor: pointer;
  div {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .wishlist-button-container {
    align-self: center;
  }
}
